/* BACKGROUND IMAGES */
body.home {
	background-image: url('../images/home.bg.png');
	background-repeat: no-repeat;
	background-position: center 30px;
}
.producciones .main-container {
	background-image: url('../images/producciones.bg.png');
	background-repeat: no-repeat;
	background-position: right -65px;
	padding-top: 20px;
}
.producciones #pre-navbar {
	margin-bottom: 0;
}
.producciones-footer {
	background-image: url('../images/producciones.bg.footer.png');
	background-repeat: no-repeat;
	background-position: right 15px bottom;
	padding-bottom: 270px;
}

/* JOKERS */
.text-right { text-align: right; }
.text-up { text-transform: uppercase; }
.entypo-social {
	font: 24px/15px 'Entypo Social';
	vertical-align: middle;
}
.vivo { color: #D80E2B;}
.montserrat-red { font: 21px/1.1em 'Montserrat',"Helvetica Neue",Helvetica,Arial,sans-serif; text-transform: uppercase; margin: 0; }
h2, .lato-300-red { font: 300 17px/1.1em 'Lato',"Helvetica Neue",Helvetica,Arial,sans-serif; color: #a40616; text-transform: uppercase; margin: 0; }
.lato-300-white { font: 300 17px/1.1em 'Lato',"Helvetica Neue",Helvetica,Arial,sans-serif; color: #fff; text-transform: uppercase; margin: 0; }
.lato-500-white { font: 500 24px/1.1em 'Lato',"Helvetica Neue",Helvetica,Arial,sans-serif; color: #fff; letter-spacing: 1px; text-transform: uppercase; margin: 0; }
p,ul,ol,dl,blockquote { margin-bottom: 1.5em;}

/* HEADER */
#pre {
	margin-bottom: 30px;
}
#pre-logo a {
	display: block;
}
#pre-navbar {
	text-transform: uppercase;
	font: 12px 'Montserrat';
}
#pre-extra {
	text-transform: uppercase;
	font: 300 13px 'Lato';
}
#pre-tit {
	color: #a40616;
	font: 500 46px/50px 'Museo Sans',"Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 8px;
}
#pre-navbar-main li:first-child a {
	padding-left: 0;
}

@media (max-width: 991px) {
	#pre-tit { font-size: 32px; line-height: 36px; text-align: right; }
	#pre-extra { font-size: 12px; }
	#pre-logo img { width: 70px; }
}
@media (max-width: 767px) {
	#pre-extra { margin-right: 8px; }
}


/* SIDEBAR MENU */
#sidebar-menu {
	text-transform: uppercase;
	font: 13px 'Montserrat';
}
#sidebar-menu > ul > li {
	border-bottom: 1px solid #5c5c62;
	margin-bottom: 7px;
}
#sidebar-menu > ul > li.active > a,
#sidebar-menu > ul > li > a.active,
#sidebar-menu > ul > li.active > a:hover {
	color: #a40616;
}
#sidebar-menu a:focus {
	outline: none;
}
#sidebar-menu > ul > li > a {
	padding-bottom: 7px;
	display: block;
	color: #5c5c62;
}
#sidebar-menu > ul > li > a:hover {
	color: #d5d5d5;
}
#sidebar-menu .sublist {
	padding-bottom: 7px;
}
#sidebar-menu .sublist > li {
	margin-bottom: 7px;
}

/* FOOTER */
.end {
	margin-bottom: 15px;
	color: #fff;
	font: 100 13px/15px 'Lato';
	letter-spacing: 0.5px;
}
#credits {
	color: #5c5c62;
}
.end a {
	color: #5c5c62;
}
.end a:hover {
	color: #d5d5d5;
}
@media (max-width: 749px) {
	#epi { 
	border-top: 1px solid #5c5c62;
	}
	.epi-col:first-child { padding-top: 15px; }
	.epi-col { padding-bottom: 15px; padding-left: 0; }
}

@media (min-width: 750px) and (max-width: 969px) {
	.epi-col-up { border-top: 1px solid #5c5c62; }
	.epi-col { padding: 15px 0 0 0; }
}
@media (min-width: 970px) {

.epi-col {
	padding-top: 15px;
	padding-left: 0;
	border-top: 1px solid #5c5c62;
}
.epi-col:last-child {
	padding-left: 15px;
	padding-right: 0;
	text-align: right;
}
}

/* HOME */
.sec {
	padding-bottom: 30px;
}

@media (min-width: 970px) {
	.featured-item-left { padding-right: 0; }
	.featured-item-right {	padding-left: 0; }
}
.featured-item-bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;
	min-height: 250px;
	position: relative;
}
.featured-item-text {
	background-color: rgba(164,6,22,0.6);
	position: absolute;
	width: 100%;
	padding: 10px 20px;
	bottom: 0;
	font: 400 14px/1.1em 'Lato';
	letter-spacing: 1px;
}
.featured-item-tit {
	letter-spacing: 1px;
	margin: 10px 0 0;
}
.featured-item-current {
	font-weight: 500;
}
.news-item {
	margin-bottom: 1em;
}
.news-item-tit {
	margin: 0;
	font: inherit;
	color: inherit;
	text-transform: uppercase;
}

/* ARCHIVES:
 * PROGRAMACION & NEWS
 */
#main-tit {
	margin-top: 0;
	margin-bottom: 1em;
	font: 20px/1.1em 'Montserrat';
	letter-spacing: 1px;
	color: #a40616;
}
.list-item {
	margin-bottom: 15px;
	border-bottom: 1px dotted #5c5c62;
	padding-bottom: 15px;
}
.list-item:hover {
	background-color: rgba(0,0,0,0.3);
}
.list-item:last-child {
	border-bottom: none;
}
.list-item-img {
	padding: 0;
}
.list-item-text,
.list-item-data {
	font: 300 14px/1.1em 'Lato';
	margin-top: 1em;
	letter-spacing: 0.5px;
}
.list-item-tit {
	margin: 10px 0 0;
}
.list-item-current,
.list-item-ticket {
	font: 500 14px 'Montserrat';
}
.list-item-ticket {
	color: #a40616;
}

@media (max-width: 969px) {
	.list-item-text { padding-left: 0; }
}
@media (max-width: 749px) {
	.list-item-data { padding-left: 0; }
}

.new-item {
	margin-bottom: 30px;
}
.new-item-date {
	font-weight: 500;
}
.new-item-tit {
	margin: 0 0 5px;
	color: #d80e2b;
	font-weight: 500;
}

/* PROGRAMACION SINGLE */
.single-text {
	color: #fff;
	background-color: rgba(164,6,22,1);
	padding: 10px 20px;
	font: 300 17px/1.1em 'Lato';
	margin-bottom: 30px;
}
.single-tit {
	margin: 0 0 5px;
}
.single-data {
	width: 50%;
	font: 400 15px 'Lato';
}
.single-extra li a {
	text-transform: uppercase;
	font: 13px/1.1em 'Montserrat';
	color: #d80e2b;
	letter-spacing: 0.15em;
}
#single-extra-tickets a {
	font: 700 15px/1.1em 'Montserrat';
	color: #a40616;
	letter-spacing: 0.15em;
}

/* DIRECCION & ACTORES */
.director {
	margin-bottom: 30px;
}
.director-tit {
	color: #d5d5d5;
}
.actor-tit {
	margin-bottom: 30px;
}
.actor-rel {
	margin-bottom: 5px;
}
.actor-extra a {
	color: #a40616;
}

/* PRODUCCIONES */
.producciones-list {
	font-size: 13px;
	margin-bottom: 30px;
}
.producciones-list li {
	margin-bottom: 1em;
}
.producciones-list a {
	color: #d80e2b;
	text-transform: uppercase;
}
.producciones-list a:hover {
	color: #a40616;
}
.producciones-list .active a {
	color: #fff;
}
.produccion-tit {
	margin-bottom: 10px;
	color: #d80e2b;
}
.produccion-data {
	margin-bottom: 30px;
	color: #d80e2b;
	text-transform: none;
}
.produccion-img {
	margin-bottom: 10px;
}
